{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Compiled and minified CSS -->

     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src = "{% static 'main/js/material-add-on.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<!--         <link rel="stylesheet" type="text/css" href="{% static 'main/css/vendor/bootstrap.css' %}"> -->


</head>


<body>
<div class="navbar-fixed">
 <nav>
      <div class="nav-wrapper #1565c0 blue darken-3">
        <span class="#616161 grey darken-2 new badge" data-badge-caption="">beta 0.5</span>
        <a href="/" class="brand-logo thin">&nbsp; &nbsp;  Stelupa</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a href="/submit-musician-data">Records</a></li>
          <li><a href="/explore">Stelupa search engine</a></li>
          <li><a href="/apps-and-notebooks">Apps and notebooks</a></li>
              <li><a href="/data-api">Data API</a></li>


        </ul>
      </div>
    </nav>
  </div>


        {% block sidebar %}
        {% endblock %}


    <div id="content">
        {% block content %} {% endblock %}
        {% block submit_base %} {% endblock %}
        {% block about_page %}{% endblock %}
        {% block metadata %} {% endblock %}
        {% block breach_form %} {% endblock %}
        {% block apps_and_notebooks %} {% endblock %}
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
