{% extends "main/submit_data_partials/submit_data_base.html" %}
{% load static %}

{% block submit_data_filter %}
  {% include "main/submit_data_partials/submit_data_filter.html" %}
{% endblock %}
  {% block submit_collection_data %}

  {% include "main/submit_data_partials/submit_data_paginator.html" %}
  <ul class="collapsible" data-collapsible="accordion">
    {% for record in paginated_records %}
      <li>
        <div class="collapsible-header">
          <div class = "col s6 m6">
              {{ record.work.title }} <br/>
              ({{ record.work.title_in_original_language}})


            </div>
            <div class = "col 6 m6">
                    Composed by {{ record.work.created_by.first_name}} {{record.work.created_by.family_name}} <br/>
                  Performed in {{record.performance_location}}, {{record.performance_date}} <br/>

              </div>


        </div>
        <div class="collapsible-body">
          <div class = "row">
            <div class = "col s12 m12">
              <strong class="thin">Record detail:</strong> <br/>
            </div>
          </div>
          <div class = "row">
            <div class = "col s6 m6">
              <strong>Composition name:</strong> <br/>
              <strong>Performance date:</strong> <br/>
              <strong>Performance date is approximate:</strong> <br/>
              <strong>Performance location:</strong> <br/>
              <strong>Performance location (decimal latitude):</strong> <br/>
              <strong>Performance date location (decimal longitude):</strong> <br/>
              <strong>Is premier performance of composition:</strong> <br/>
              <strong>Notes:</strong> <br/>

            </div>
            <div class = "col s6 m6">
              {{ record.work }}, composed by {{ record.work.created_by.first_name}} {{record.work.created_by.family_name}}<br/>
              {{ record.performance_date}}<br/>
              {{ record.performance_date_is_approximate }}<br/>
              {{ record.performance_location}}<br/>
              {{ record.performance_latitude}} <br/>
              {{ record.performance_longitude }}<br/>
              {{ record.is_premiere_performance }}<br/>
              {{ record.notes}}<br/>

              {{ record.country_of_predominant_residency}} <br/>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>


  {% endblock %}
