{% extends "main/submit_data_partials/submit_data_base.html" %}
{% load static %}

  {% block submit_file %}


           <div class = "row">

           <div class = "col m12 s12">


             <h6>Submitting records to Stelupa</h6>
               <div class="thin">
                 It is possible to submit data for musicians, composers. A small team manages the curation of data, archiving
               </div><br/>
               <h6>Data specifications</h6>
               <div class="thin">
                Entities can be seen on this page, Musician, Collection, Work, Instrument, and Notes, and you should follow these.
                Parser MusicXML parser, music held as time series information, and can be submitted in JSON format. Many musicologists will be holding data in .csv files, and that is fine. All this code. The choice of specification, designed, has evolved in discussions, time series data, that lends itself to complicated. Musicology powerful, times when structure occurs, but more complex questions (such as fuzzy searching of notes).
                <br/><br/>
                Records are currently maintained by a small group of users, cleaning data. Different range of skills in this group, and if you are interested please see the <a href="#">github wiki</a> for further details.
             </div><br/>
             <h6>Stelupa is a data specification and archive, note community wiki</h6>
             <div class="thin">
              One of the original intentials of Stelupa was to function, critical crowd source, has not been set up as a wiki, however this has been abandoned for now. Already formatted and should be thought of as an archive of records, imposing structure to make the data well suited for data analytics and questions of musicology. There are many discussion forums, crowd sourced music theory, reinforcement learning and entity recognition and this space, library record.Limited to archive and Data API. There were other, aspects, but these have been
              Parser MusicXML parser, music held as time series information, and can be submitted in JSON format. Many musicologists will be holding data in .csv files, and that is fine. All this code. However, these products are fairly easy to build, to track user interactions.
              <br/><br/>
              My sense is that these types of services, explictly need to archive data may be an issue
           </div>
           <br/><br/>

           Jamie Gabriel
           




  {% endblock %}
