<br/>
<strong id="note">Data specification::note</strong>
<hr/>
<div>
  API endpoint: <a href="/scores-api/v1/notes/">stelupa/scores-api/v1/notes/</a>
</div><br/>
<div>
  The note API endpoint holds information about individual notes and rests that appear in socres. Attributes include:
</div>
<div>
<table>
<thead>
  <tr>
      <th class="thin">Attribute name</th>
      <th class="thin">Data type</th>
      <th class="thin">Description</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>work</td>
    <td>integer</td>
    <td>Primary key of a related <a href="a">work</a> which the note belongs to.</td>
  </tr>
  <tr>
    <td>instrument</td>
    <td>integer</td>
    <td>Primary key of <a href="#">instrument</a> playing note. Null if not applicable</td>
  </tr>
  <tr>
    <td>has_instrumentation</td>
    <td>boolean</td>
    <td>If note has any associated instrumentation.</td>
  </tr>
  <tr>
    <td>divisions</td>
    <td>integer</td>
    <td>Number of divisions that make up a quarter note. Note can change depending on the rhythmic complexity across the work as a whole.</td>
  </tr>
  <tr>
    <td>time_signature_numerator</td>
    <td>integer</td>
    <td>Integer denoting the numerator of the time signature.</td>
  </tr>
  <tr>
    <td>time_signature_denominator</td>
    <td>integer</td>
    <td>Integer denoting the denominator of the time signature.</td>
  </tr>
  <tr>
    <td>current_measure</td>
    <td>integer</td>
    <td>Integer denoting the measure that the note occurs in.</td>
  </tr>
  <tr>
    <td>midi_number</td>
    <td>integer</td>
    <td>Midi number denoting the pitch of the note (where middle C, or C5 is 60).</td>
  </tr>
  <tr>
    <td>note_name</td>
    <td>varchar</td>
    <td>Human readable note name (i.e. A5, C#/Db6) denoting the note name and octave in which it occurs.</td>
  </tr>
  <tr>
    <td>duration</td>
    <td>integer</td>
    <td>Duration of the note. Note that this should be used in conjunction with the divisions attribute. If divisions is listed as 25 (being the number of units tha make up a quarter note), a duration of 100 refers to 4 quarter notes, or a whole note.</td>
  </tr>
  <tr>
    <td>is_rest</td>
    <td>boolean</td>
    <td>True the note is a rest value.</td>
  </tr>
  <tr>
    <td>is_grace_note</td>
    <td>boolean</td>
    <td>If the note is a grace note. Grace notes have no duration in relation to the measure.</td>
  </tr>
  <tr>
    <td>starting_location</td>
    <td>integer</td>
    <td>Starting loctation of the note in relation to the work.</td>
  </tr>
  <tr>
    <td>starting_location_of_current_measure</td>
    <td>integer</td>
    <td>Starting location of the current measure the note is in.</td>
  </tr>
  <tr>
    <td>quarter_beats_per_minute</td>
    <td>integer</td>
    <td>Indication of the tempo, in quarter beats per minute, when this note is played.</td>
  </tr>
  <tr>
    <td>tie_status</td>
    <td>boolean</td>
    <td>Indication if the note is tied to the note preceeding it.</td>
  </tr>
  <tr>
    <td>verified</td>
    <td>boolean</td>
    <td>True if record has been verified.</td>
  </tr>
  </tbody>
  </table>

</div>
<br/>
