<br/>
<strong id="tag">Data specification::tags</strong>
<hr/>
<div>
  API endpoint: <a href="/apps-and-notebooks-api/v1/app-and-notebook-tags/">stelupa/apps-and-notebooks-api/v1/app-and-notebook-tags/</a>
</div><br/>
<div>
  The tag API endpoint holds the names of tags used to categories apps and notebooks availabe via the Stelupa <a href="#">apps and notebooks</a> page. Attributes include:</div>
<table>
<thead>
  <tr>
      <th class="thin">Attribute name</th>
      <th class="thin">Data type</th>
      <th class="thin">Description</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>tag_name</td>
    <td>varchar</td>
    <td>Name of tag used to identify apps or notebooks.</td>
  </tr>
  </tbody>
  </table>


<br/>
