<br/>
<h5>Accessing the API using R or Python</h5>
<strong> Using R</strong>
<hr/>
<div>
  The R programming language is open source, freely available, and highly to suited analytics tasks that range from descriptive statistics through to advanced machine learning. It also has wide ranging capabilities for creating interactive visualisations and camera-ready journal papers. R Studio (the IDE most commonly used to write R code) also has built in support for many languages, including SAS, Latex, C, C++, Haskell, Python, Javascript, HTML and SQL.
</div>
<br/><strong>Using Python</strong>
<hr/>
asdfas  asdfasfas  asfasfd
<br/>
